<!DOCTYPE>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <title>智能制造平台</title>
    <base href="@Context.Request.PathBase.ToString()/ " />

    <style>
        input:read-only{
            background-color: #cde6c7 !important;
        }
    </style>
    <script src="~/lib/echarts/echarts.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script stype="text/javascript" src="ext/build/include-ext.js?theme=triton"></script>
    <script type="text/javascript" src="app/app.js"></script>
</head>
<body>
</body>

</html>